erp
accounting/__pycache__
accounting/migrations/__pycache__
appsystem/__pycache__
appsystem/migrations/__pycache__
authentication/__pycache__
authentication/migrations/__pycache__
company/__pycache__
company/migrations/__pycache__
dms/__pycache__
dms/migrations/__pycache__
helpdesk/__pycache__
helpdesk/migrations/__pycache__
inventory/__pycache__
inventory/migrations/__pycache__
layout/__pycache__
layout/migrations/__pycache__
node_modules
gulpfile
.env

